@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@font-face {
  font-family:'font_rock';
  src: url('../projeto_resistencia/fontes/cloister_black/CloisterBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #222222;
}

a:hover{
  color: red;
}

h1, h2{
  text-align: center;
  font-family: 'Cinzel', serif;
}

header {
  background-color: #1b1b1b;
  color: white;
}
header > h1{
  text-align: center;
  padding: 10px 10px 3px 10px;
  font-size: 9vw;
  font-family:'font_rock', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
header > nav{
  text-align: center;
  padding: 3px 10px 10px 10px;
}
header > nav > a{
  padding: 5px;
  margin: auto;
}
div.baner{
  background-image: url(imagens/capa_banda.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

main{
  margin: auto;
  max-width: 1000px;
  min-width: 300px;
  background-color: white;
  padding: 10px;
  font-size: 1.2em;
}
main p{
  padding: 10px ;
  text-indent: 30px;
  text-align: justify;
  line-height: 1.5em;
}

div.video{
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  position: relative;
  padding-bottom: 59%;
}

div.video > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

footer{
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 3px;
  font-size: 0.8em;
}
footer > img{
  padding: 5px;
}
footer > p{
  background-color: rgb(19, 19, 19);
  padding: 3px;
}
footer > p > a{
  text-decoration: none;
  color: white;
}
